.active,
.active a {
    font-weight: bold;
    font-size: large;
}

.errors {
    background: lightpink;
    border: 1px solid firebrick;
    color: darkred;
    padding: 5px 10px;
    width: 400px;
}